<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarsm Checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body style="padding-bottom: 200px;">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="{{ url_for('index') }}">Plagiarism Checker</a>
        </div>
      </nav>
      <h1 align="center" style="margin-top: 20px; margin-bottom: 50px;"> Plagiarsm Checker</h1>
      <form method=post enctype=multipart/form-data>
        <div class="form-group">
          <div class="d-flex justify-content-center">
            <textarea name="text" class="form-control rounded-top shadow bg-white rounded" id="exampleFormControlTextarea1"
              rows="10" placeholder="Input your text here..." style="width: 600px;"></textarea>
          </div>
        </div>
        </div>
      <div class="d-flex justify-content-center">
        <input name="file" class="form-control form-control-md h-25 d-flex justify-content-center shadow bg-white" id="formFileLg" type="file" style="border-radius: 10px; width: 270px; margin-top: 20px; margin-bottom: 20px;">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-dark" style="border-radius: 15px; height: 45px;"><i class="bi bi-search"></i> Check Plagiarism</button>
      </div>
    </form>
      <div id="hasil" style="margin-top: 80px;">
        <h1 align="center">Result</h1>
        <div style="padding-bottom: 30px" class="container">
            <div class="col d-flex justify-content-center">
                <div class="p-3 border bg-dark text-light text-center" style="width: 180px; border-radius: 15px;">Plagiarsm : {{ hasil_persen }}</div>
            </div>
        </div>
    </div>
        <div class="container">
            {% for i in range(0, hasil_link|length) %}
            <div class="col d-flex justify-content-center">
                <div class="p-3 border bg-dark text-light text-start w-75" style="border-radius: 15px; margin-bottom: 5px;"><a style="text-decoration: none; color: white" href="{{ link_output[i] }}">{{ hasil_plagiarism[i] }}</a></div>
            </div>
            {% endfor %}
        </div>
      </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>